<footer class="py-5 mt-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <h5>About</h5>
                <p>A personal blog sharing thoughts and experiences.</p>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none">Home</a></li>
                    <li><a href="/blog" class="text-decoration-none">Blog</a></li>
                    <li><a href="/about" class="text-decoration-none">About</a></li>
                    <li><a href="/contact" class="text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h5>Connect</h5>
                <p>Follow us on social media:</p>
                <div class="social-links">
                    <a href="#" class="text-decoration-none me-2">Twitter</a>
                    <a href="#" class="text-decoration-none me-2">Facebook</a>
                    <a href="#" class="text-decoration-none">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> My Blog. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 